/*stripped styles inventory visible, bootstrap enabled
ready to be styled*/

}

body {

}


/*#content {
    text-align: left;
    vertical-align: middle;
    margin: 0px auto;
    padding: 20px;
    width: 550px;
    background-color: #ffffff;
    border: 1px dashed #564b47;
    height:100%;
}*/

/*#inventory{
  width: 80%px;
  background-color: #fff;
  /*clear:both;*/

h1{
    font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
    color:#DE4124;
    font-size:2.5em;
}

h4{
  font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
  font-size:1.5em;
  color:#000;
}
/*h5{
  float: right;
}*/
.subtitleFont{
    font-size: 8pt;
    font-family: Courier New, Courier, Monospace;
    text-decoration:underline;
    color:#000;
}



.storyText{ /* box-sizing code provided by css-tricks.com. I would have
  never thought that getting a textarea to fill 100% would require -webkit or -moz */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
    width:600px;
    height:300px;

}
.puzzleText{
  float: left;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    width:300px;
    height:300px;
}
.helpText{
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width:300px;
  height:275px;
}
#inputCommands{
  position: absolute;
  align-items: center;
}
/*textarea {
  resize:none;
}*/

/*.storyText {
  max-width: 150px;
  max-height: 350px;
  word-wrap: normal;
  resize:none;
}*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
  opacity:1;
   pointer-events: auto;
}
.modalDialog > div {
   width: 400px;
   position: relative;
   margin: 10% auto;
   padding: 5px 20px 13px 20px;
   border-radius: 10px;
   background: #fff;
   background: -moz-linear-gradient(#fff, #999);
   background: -webkit-linear-gradient(#fff, #999);
   background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}

p.headings{
    font-family: Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
    color:#DE4124;
    font-weight:bold;
    font-size:2em;
    text-align:center;
    text-shadow: 1px 1px 1px #C0C0C0;
}

/*#commandButtons{
width:48%;
height:100%;
float:right;


}*/
/*#push{
  height:115px;
}*/
